# 1. 함수 복습

함수를 복습해봅시다. 

함수부터는 데이터 분석, 특히 머신러닝과 딥러닝을 활용할때에 많이 사용되므로 다시 복습해보면서 제대로 배워 나가도록 하겠습니다. 
 
 * 코드의 재사용
 * 코드의 용도 구분
 * 실수 최소화

In [ ]:
# 함수 예제 1 - 함수 생성

def print_coin():
  print("비트코인")

In [ ]:
# 함수 예제 1 - 함수 호출

print_coin() # => "비트코인"

In [ ]:
# 함수 예제 2 - 함수 반복

for i in range(10):
  print_coin()

In [ ]:
# 함수 예제 3 - 함수를 호출할때 위치

print_coin_2()

def print_coin_2():
  print("비트코인 2개")

In [ ]:
# 함수 예제 4 - 연습 문제 1

def message():
  print('A')
  print('B')

message()
print('C')
message()

A
B
C
A
B

In [ ]:
# 함수 예제 5 - 연습 문제 2

print('A')

def message():
  print("B")

print('C')

message()

A
C
B

In [ ]:
# 함수 예제 6 - 연습 문제 3

print('A')

def message1():
  print('B')

print('C')

def message2():
  print("D")

message1()
print('E')
message2()

In [ ]:
# 함수 예제 7 - 연습 문제 4

def message1():
  print('A')

def message2():
  print('B')
  message1()

message2()

In [ ]:
# 함수 예제 8 - 연습 문제 5

def message1():
  print('A')

def message2():
  print('B')

def message3():
  for i in range(3):
    message2()
    print('C')
  message1()

message3()

B
C
B
C
B
C
A

In [ ]:
# 함수 예제 9 - 숫자형 연습
# 함수안에 있는 변수는 바깥에서 사용할 수가 없다는 것을 !!!

def num(a, b): # a, b를 활용하는 함수 num
  print(a + b) # 위에서 언급한 a, b는 밑에서 사용해 주셔야 합니다.

#num(a, b)
num(3, 4)

In [ ]:
# 함수 예제 10 - 숫자형 문자형 같이 사용했을때

def num_str(a, b):
  print(a + b)

num_str("안녕", 3)

In [ ]:
# 함수 예제 11 - 문자형 입력받는 경우
def print_with_smile(string):
  print(string + ":)")

print_with_smile("안녕하세요")

In [ ]:
# 함수 예제 12 - 덧셈 
def print_upper_price(price):
  print(price * 1.3)

print_upper_price(300)

In [ ]:
# 함수 예제 19 - 두수의 합/차이/곱셈/나눗셈 을 출력하는 함수
def cc(a,b):
  print(a+b)
  print(a-b)
  print(a*b)
  print(a/b)

cc(10,2)

12
8
20
5.0

In [ ]:
# 함수 예제 14 - 세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 
# 단, if문을 사용해서 수를 비교하시오

def print_max(a, b, c):
  if a>b and a>c:
    print(a)
  elif b>a and b>c:
    print(b)
  elif c>a and c>b:
    print(c)
  elif a==b and a>c:
    print(a,b)
  elif a>b and a==c:
    print(a,c)
  elif b>a and b==c:
    print(b,c)
print_max(4,4,6)  

# a=[]
# for i in range(3):
#   a.append(int(input("숫자를 입력하세요")))
# def print_max(a):
#   a.sort()
#   print(a[0])
# print_max(a)

6

In [ ]:
# 함수 예제 14 - 세 개의 숫자를 입력받아 가장 큰 수를 출력하는 print_max 함수를 정의하라. 
# 단, if문을 사용해서 수를 비교하시오

def print_max(a,b,c):
  max_val = 0

  if a > max_val: # 0보다 큰 값을 받기를 원함
    max_val = a

  if b > max_val: # max_val = a
    max_val = b

  if c > max_val:
    max_val = c

  print(max_val)

print_max(1,5,5)

5

In [ ]:
# 함수 예제 15 - 입력된 문자열을 역순으로 출력하는 reverse 함수

def print_reverse(string_a):
  print(string_a[::-1])

print_reverse('python')

In [ ]:
# 함수 예제 16 - 평균을 출력하는 함수

def print_score(score_list):
  print(sum(score_list) / len(score_list))

print_score([1,2,3])

2.0

In [ ]:
# 함수 예제 17 - 하나의 리스트를 입력받아서 짝수만 출력하는 함수를 만들어 보세요.

def print_even(print_list):
  for v in print_list:
    if v % 2 == 0:
      print(v)

In [ ]:
print_even([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [ ]:
def print_dic(my_dict):
  print(my_dict)

In [ ]:
print_dic({"이름" : "홍길동", "나이" : 30, "직업" : "의적"})

{'이름': '홍길동', '나이': 30, '직업': '의적'}

In [ ]:
# 함수 예제 19 - 함수 내부의 결과는 접근이 불가합니다.

def n_plus(n):
  result = n + 1

print(n_plus(3))

In [ ]:
# 함수 예제 19 - 함수 내부의 결과는 접근이 불가합니다.

def n_plus(n):
  result = n + 1
  return result

result_new

4

In [ ]:
# 함수 예제 20 - 문자열 하나를 입력받아서 인터넷 주소를 반환하는 함수를 만들어라
def make_url(string):
  url = "www." + string + ".com"
  return url

make_url("naver")

'www.naver.com'

In [ ]:
# 함수 예제 21 - 문자열 하나씩 입력받아서 리스트 화

def make_list(string):
  my_list = []
  for i in string:
    my_list.append(i)
  return my_list

make_list("abcd")

['a', 'b', 'c', 'd']

In [ ]:
# 함수 예제 22 - 문자열 대체

def convert_int(string):
  return int(string.replace(',',''))

# replace ',' -> '' 으로 변경

convert_int('123,456')

In [ ]:
# 함수 예제 23

def number_1(num):
  return num + 4

a = number_1(10)
b = number_1(a)
c = number_1(c)

print(c)

In [ ]:
# 함수 예제 24

def def_1(num):
  return num + 4

def def_2(num):
  num = num + 2
  return def_1(num)

c = def_2(10)
print(c)

16

In [ ]:
def def_1(num):
  return num * 2

def def_2(num):
  return def_1(num + 2)

def def_3(num):
  num = num + 10
  return def_2(num)

c = def_3(2)
print(c)

28

In [ ]:
# 함수 예제 26
def double(x):
  y = x
  x = 10
  return y * y

x = 3

#
print(double(x))
print(x)

9
3

In [ ]:
# 함수 예제 27
# return에 매개변수 없이 출력이 되면 함수 내 문장과 상관없이 그 값을 빠져나옵니다.

def test_01(a):
  if a == 10:
    return # pass
  else:
    print("10이 아닙니다.")
  
test_01(10)
test_01(1)

10이 아닙니다.

In [ ]:
# 함수 예제 28 - 함수의 호출 과정(키워드 인수)
# 위치인수는 호출할때 함수의 정의와 인수 순서가 같은 순서로 지정!!
# 위치가 틀어지면 값이 완전히 바뀔수 있다.

def billing(unit_prices, units, fees, tax_rate):
  return (unit_prices * units + fees) * tax_rate
  
x = billing(1000, 10, 500, 1.1)
print(x)

In [ ]:
y = billing(10, 1000, 1.1, 500)
print(y)

In [ ]:
def billing(unit_prices, units, fees, tax_rate):
  return (unit_prices * units + fees) * tax_rate

x = billing(
            unit_prices = 1000, 
            units = 10, 
            fees = 500, 
            tax_rate = 1.1
            )

print(x)

In [ ]:
y = billing(units = 10, unit_prices = 1000, tax_rate = 1.1, fees = 500)

In [ ]:
print(y)

In [ ]:
# 키워드 + 위치인수

x1 = billing(1000, 10, tax_rate = 1.1, )
print(x1)

In [ ]:
# 연습문제 1. 출력 결과를 말씀해주세요

def print_hi():
  print("Hi")

# 1. Hi
# 2. NameError
# 3. print_hi()
# 4. ValueError
# 5. 출력값 없음

In [25]:
# 연습문제 2. 출력 결과를 말씀해주세요

def test(k):
  print(f"Input is {k}")

k = 1000
test(k)

#1 Input is 100
#2 NameError
#3 IndexError
#4 ValueError
#5 None

Input is 1000

In [26]:
# 연습문제 3 - 출력 결과를 말씀해주세요
def f(x):
  y = x
  x = 7
  return y * x

x = 4
print(f(3))
print(x)

# 1. 21
#    4
# 2. 9
#    3
# 3. 21
#    4
# 4. 49
#    3
# 5. 21
#    7

21
4

In [ ]:
# 연습문제 4
name = 'jinho'
def call_my_name():
  print(name)
  name = 'sehoon'

call_my_name()

# 1. 'Jinho'
# 2. 'sehoon'
# 3. None
# 4. error
# 5. 'call_my_name'

In [30]:
# 연습문제 5
def say_myself(name, old, woman = True):
  print(f"나의 이름은 {name}입니다.")
  print(f"나의 나이는 {old}입니다.")
  if woman:
    print("여성입니다.")
  else:
    print("남성입니다.")

say_myself("최주영", "35")

#1. 나의 이름은 최주영입니다.
#   나의 나이는 35입니다.
#   여성입니다.
#2. 나의 이름은 최주영입니다.
#   남성입니다.
#   나이는 35살 입니다.
#3. 나의 이름은 최주영입니다.
#   여성입니다.
#   나이는 35살 입니다.
#4. 나의 이름은 최주영입니다.
#   나의 나이는 35입니다.
#   남자입니다.
#5. 나의 이름은 최주영입니다.
#   여성입니다.

나의 이름은 최주영입니다.
나의 나이는 35입니다.
여성입니다.

In [31]:
# 연습문제 6 실행된 값을 무엇일까요?

def exam_func():
  x = 10
  print(f"Value: {x}")

x = 20
exam_func()
print(f"Value: {x}")

Value: 10
Value: 20

In [32]:
# 연습문제 7 실행된 함수가 어떤값을 가질지 맞춰주세요

def get_abbr(data_list):
  result = []

  for x in data_list:
    result.append(x[:3])

  return result

get_abbr(['Seoul', 'Anyang', 'Incheon', 'Jeju'])

#1. ['Seoul', 'Anyang', 'Incheon', 'Jeju']
#2. ['Seoul', 'Anyang', 'Incheon']
#3. ['Seo', 'Any', 'Inc', 'Jej']
#4. ['Seo']
#5. error

['Seo', 'Any', 'Inc', 'Jej']

In [33]:
# 연습문제 8 

test_data = 3
def hi(a):
  b = a*3
  return b

print(hi(test_data))

#1. TypeError
#2. 9
#3. 3
#4. None
#5. ValueError

9

In [ ]:
# 연습문제 9
a = 111
b = 222

def function_1():
  print(a)
  print(b)

def function_2():
  a = 333
  print(b)
  print(a)

function_1()
function_2()

#1. 111 222 222 333
#2. 222 333 111 222
#3. 222 111 222 333
#4. 111 222 333 444
#5. 333 222 222 111