In [ ]:
# 1차원 리스트

a = [100000, 2, 1, 3]
print(type(a))

In [ ]:
b = list('leehojun')

In [ ]:
print(type(b))

In [ ]:
c = [[2]]

In [ ]:
a = [[1, 2, 3],
     [11, 22, 33],
     ['leehojun', 20, 30]
    ]
print(a)

In [ ]:
a[0]

In [ ]:
a[0][0]

In [ ]:
a[2][0][:3]

#1.1 리스트 복습

In [ ]:
#1.1.1 리스트 생성

List_01 = []
print(f"첫번째 리스트 예제의 값은 : {List_01}")

List_02 = list()
print(f"두번째 리스트 예제의 값은 : {List_02}")

In [ ]:
# 1.1.2 리스트 생성 - 여러 형태의 리스트

# 단일 자료형 리스트
List_03 = [10, 55, 20, 75]
print("세번째 리스트 예제의 값은 : " , List_03)

# 복합 자료형 리스트(문자, 숫자)
List_04 = [1000, 10000,'Lion', 'Weniv', 'Coding']
print("네번째 리스트 예제의 값은 : " , List_04)

# 복합 리스트 - 리스트 안에 리스트
List_05 = [1000, 10000, ['Lion', 'Weniv', 'Coding']]
print("다섯번째 리스트 예제의 값은 : " , List_05)

# 복합 자료형 리스트(3가지 이상)
List_06 = [54.42, 'not', 3, 4, False, 3.14159]
print("여섯번째 리스트 예제의 값은 : " , List_06)

In [ ]:
# 1.1.3 리스트 생성 - 이차원 리스트

kor = [10, 20, 30]
math = [30, 40, 50]
eng = [60, 70, 80]

score_all = [kor, math, eng]

print(score_all)

In [ ]:
# 1.1.4 리스트 생성 - range

a = list(range(10))
print(a)

### 1.1.2 리스트 인덱싱/슬라이싱

리스트 인덱싱과 슬라이싱은 간단하지만 사용하다보면 헷갈릴 경우가 많습니다. 보통 데이터의 구조가 2차원 이상의 구조이고, 데이터를 정제하다보면 헷갈릴 경우가 많기 때문에 복습해보면서 잘 알아둡시다!

* 리스트 인덱싱 - 휴대폰 단축번호를 생각하면 쉬움 - 1번은 어머니  2번은 아버지 3번은 선생님
* 리스트 슬라이싱 - 휴대폰 그룹을 생각하면 쉬움 - 어머니,아버지는 가족 선생님,친구1은 학교

In [ ]:
# 리스트 인덱싱 예제

# 휴대폰 번호 순서
Phone_num = ['어머니', '아버지', '선생님','친구1']

# 리스트 인덱싱
print(Phone_num[0])
print(Phone_num[2])

# 리스트 슬라이싱
# 리스트 슬라이싱때 맨 마지막 숫자 +1 주의
family = Phone_num[0:2]
school = Phone_num[2:4]

print(family)
print(school)

In [ ]:
score_all = [kor, math, eng]

print(score_all)

In [ ]:
# 2차원 리스트 인덱싱/슬라이싱

# 1.1.3 리스트 생성 - 이차원 리스트

kor = [10, 20, 30]
math = [30, 40, 50]
eng = [60, 70, 80]

score_all = [kor, math, eng]

print(score_all)

print(score_all[0][1]) # 국어 점수 / 2번째 학생
print(score_all[1][2]) # 수학 점수 / 3번째 학생

In [ ]:
# 리스트 갱신하기

# 휴대폰 번호 순서
Phone_num = ['어머니', '아버지', '선생님','친구1']

Phone_num[3] = '이모'

print(Phone_num)

In [ ]:
# 결측값을 대체

# 숫자열
['어머니', '아버지', '선생님', '', '.', '.']

# 문자열
['어머니', '아버지', '선생님', '', '', '']

In [ ]:
# 리스트 갯수 파악하기

len(Phone_num)

#1.1.3 리스트 함수

주로 사용하는 리스트 함수에 대해 복습해봅시다.

[데이터 추가 함수]
* append() 리스트 맨 마지막에 인덱스 추가
* extend() 기존 리스트에 새로운 리스트를 합침
* insert() 특정 위치에 값을 추가

[데이터 제거 함수]
* pop() 리스트 끝에서 부터 하나씩 꺼내어 반환한 뒤 삭제
* remove() 리스트에 있는 특정값을 제거
* del - 특정 인덱스 위치에 있는 값을 제거
* clear() 리스트 안에 있는 원소를 다 비우는 함수

[데이터 정렬 함수]
* sort() 오름차순으로 정렬(내림차순의 경우 reverse = True)
* reverse() 값의 순서를 거꾸로 뒤집어서 사용

[데이터 중복 확인]
* count("특정값") 특정값이 몇개나 중복으로 있는지 체크 가능

[데이터 위치 확인]
* index()

In [ ]:
# 리스트 함수 실습
l = [1, 2, 3]
dir(l) # dir을 통해 사용할 수 있는 함수(메서드) 확인 가능

In [ ]:
# 버스 승객 탑승 

# 리스트 함수를 사용해서 실습할 것
# 상황 1. 버스에 버스기사 아저씨가 탑승해서 운행가능 

bus = []
print(bus)

In [ ]:
# 상황 1. 버스기사 아저씨가 탑승을 하려면
bus.append('버스기사아저씨')
print(f'버스에는 누가 타고 있을까요? {bus}가 타고 있어요')

In [ ]:
# 상황 2. 버스에 철수가 탑승을 했다.
bus.append('철수')
print(f'버스에는 누가 타고 있을까요? {bus}가 타고 있어요')

In [ ]:
# 상황 3. 선생님이 아이 3명을 데리고 탑승했어요.
kinder = ['선생님','아이1','아이2','아이3']
bus.extend(kinder)

print(f'버스에는 누가 타고 있을까요? {bus}가 타고 있어요')
print(f'몇명이나 타고 있을까요? {len(bus)}명이 타고 있어요')

In [ ]:
# 상황 4. 노인 한분이 탑승하셨어요
# insert()

bus.insert(1, '노인')

In [ ]:
print(f'버스에는 누가 타고 있을까요? {bus}가 타고 있어요')
print(f'몇명이나 타고 있을까요? {len(bus)}명이 타고 있어요')

In [ ]:
# 아이의 위치 확인
kid1 = bus.index('아이1')
print(kid1)

In [ ]:
# 노인분이 내리고자 할때
bus.remove('철수')

print(f'버스에는 누가 타고 있을까요? {bus}가 타고 있어요')
print(f'몇명이나 타고 있을까요? {len(bus)}명이 타고 있어요')

In [ ]:
# 상황 6. 선생님이 아이들을 한명 한명 인원 체크를 하며 내리려고 하고 있어요.
# 인원체크 후에 선생님이 마지막으로 내릴거에요

bus.pop()

In [ ]:
print(f'버스에는 누가 타고 있을까요? {bus}가 타고 있어요')

In [ ]:
bus.pop()

In [ ]:
print(f'버스에는 누가 타고 있을까요? {bus}가 타고 있어요')

In [ ]:
bus.pop()
print(f'버스에는 누가 타고 있을까요? {bus}가 타고 있어요')

In [ ]:
bus.clear()

In [ ]:
bus

###1.1.4 리스트 연산

[리스트 연산]

* 리스트 덧셈
* 리스트 곱셉
* in 연산

In [ ]:
# 리스트 덧셈

company1 = ['멋쟁이사자처럼']
company2 = ['위니브']
company3 = ['테킷']

In [ ]:
company_all =[company1 + company2 + company3]

In [ ]:
print(company_all)

In [ ]:
company_all_01 = company1 + company2 + company3

In [ ]:
print(company_all_01)

In [ ]:
# 리스트 곱셈

company1 * 3

In [ ]:
# 리스트내의 요소 찾기
'멋쟁이사자처럼' in company_all_01

In [ ]:
# 연습문제 1. 정수 5개를 Input으로 리스트형태로 입력받아서 평균을 내보기
# 1개 입력받을때마다 추가가 되어서
# 5개를 받을때는 리스트안에 값이 5개가 있어야함

fd = []
for i in range(5):
    fd.append(int(input()))
aver = sum(fd)/len(fd)
aver

In [ ]:
fd = []
for i in range(5):
    fd.append(int(input()))
aver = sum(fd)/len(fd)
aver

In [ ]:
# 연습문제 1. 정수 5개를 Input으로 리스트형태로 입력받아서 
# 평균을 내보기
list_example = []

list_example.append(int(input("정수를 입력하세요")))
list_example.append(int(input("정수를 입력하세요")))
list_example.append(int(input("정수를 입력하세요")))
list_example.append(int(input("정수를 입력하세요")))
list_example.append(int(input("정수를 입력하세요")))

print(list_example)

avg = (list_example[0]
       + list_example[1]
       + list_example[2]
       + lilist_example[3]
       + list[4])
print(f'5개의 값의 평균은 {avg}입니다')

### 1.1.5 패킹과 언패킹

패킹과 언패킹은 일반적으로도 사용하지만 나중에 한번 더 언급하기로 하고 일단 개념에 대해 복습해보자

In [ ]:
# 패킹
t = [1, 2, 3]

In [ ]:
# 언패킹
a, b, c = t

In [ ]:
print(t)

In [ ]:
print(a)
print(b)
print(c)

# 1.1.6 리스트 컴프리 핸션

In [ ]:
# 기본 리스트에 값 채워넣기

li = []

for i in range(5):
  li.append(i)

print(li)

In [ ]:
[i for i in range(5)]

In [ ]:
# 1) 수식 적용

[i*10 for i in range(5)]

In [ ]:
# 2) 조건문 적용
[i for i in range(5) if i % 2 == 0]

#1.1.7 다양한 방식의 리스트 출력

In [ ]:
# enumerate()함수
# 데이터 법이 많이 개정, 

for i, v in enumerate(['가위','바위','보']):
  print(i, v)

In [ ]:
for i in ['가위','바위','보']:
  print(i)

In [ ]:
# zip 함수

alist = ['가위','바위','보']
blist = ['바위','가위','보']

for a, b in zip(alist, blist):
  print(a,b)

In [ ]:
for x, y in zip(range(10), range(10)):
  print(x, y)

In [ ]:
dict_num = { x:y for x, y in zip(range(10),range(10))}
{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9}

In [ ]:
#enumerate & zip 함수

alist = ['가위', '바위', '보']
blist = ['보', '가위', '바위']
for i, (a, b) in enumerate((zip(alist, blist))):
  print(i, a, b)

# 2.1. 튜플

In [ ]:
# 튜플 생성 예제

tuple_sample = ()

In [ ]:
type(tuple_sample)

In [ ]:
# 튜플 생성 예제
cust_all = ("뉴진스","블랙핑크","아이즈원")
print(cust_all)

In [ ]:
cust_all_2 = ("뉴진스",)
print(cust_all_2)

In [ ]:
len(cust_all)

In [ ]:
# 튜플 인덱싱
print(cust_all[0])

In [ ]:
print(cust_all[0:2])

In [ ]:
# 튜플 함수

b = (5, 2, 1, 2, 4)
print(b)
print(b.count(2))

In [ ]:
# 튜플 연산

c = (6,7,8,9,10)

print('b + c', b + c)
print('c * 3', c * 3)

In [ ]:
t = ('a','b','c','d')

In [ ]:
(x1, x2, x3, x4) = t

In [ ]:
print(t, type(t))

In [ ]:
print(x1, type(x1))
print(x2, type(x2))
print(x3, type(x3))
print(x4, type(x4))

In [ ]:
t2 = 1,2,3

In [ ]:
print(t2, type(t2))

3.1 딕셔너리

In [ ]:
# 김진환 : 데이터 분석

In [ ]:
# 딕셔너리 기초

x = {}
y = dict()

print(x, type(x))
print(y, type(y))

In [ ]:
a = {'name' : 'Kim', "phone" : '01080782069'}

In [ ]:
print(a, type(a))

In [ ]:
b = {0: 'Hello Python'}
c = {'arr' : [1,2,3,4]}
d = {
    'Name' : 'Nicename',
    'City' : 'Seoul',
    'Age'  : 33,
    'Grade' : 'A',
    'Status' : True
}

In [ ]:
# 딕셔너리에 값 추가

a = {'name' : 'Kim', "phone" : '01080782069'}

a['address'] = 'Seoul'

print(a)

In [ ]:
# 딕셔너리의 개수
print(a, len(a))

### 3.1.2 딕셔너리 함수

In [ ]:
# Key 값만 가져오는
print(f'key 값은 {a.keys()} 입니다')

# Value 값만 가져오는
print(f'value 값은 {a.values()} 입니다')

# 전체 다 가져오는 함수
print(f'value 값은 {a.items()} 입니다')

In [ ]:
'name' in a.keys()

In [ ]:
'Kim' in a.values()

In [ ]:
# 값 삭제
del a["name"]
print(a)

# 4. 세트(set)

In [ ]:
# 세트 사용

empty_set = set()

In [ ]:
print(empty_set, type(empty_set))

In [ ]:
# 세트에 값 추가
python_set = set(['판다스','넘파이'])
print(python_set)

In [ ]:
test_set = set('python')
print(test_set)

In [ ]:
# 세트 생성

Set_1 = {1,2,3}
print(Set_1)

# 요소 추가
Set_1.add(4)
print(Set_1)

# 여러자료 추가
Set_1.update([5,6,7,8,9,10])
print(Set_1)

# 요소 제거 - 특정 순서
Set_1.remove(1)
print(Set_1)

# 요소 제거 - 특정 값 삭제
Set_1.discard(10)
print(Set_1)

In [ ]:
# 세트 연산

s1 = set(['파이썬', 'SAS', 'R', 'SQL'])
s2 = set(['파이썬', '파이토치', '텐서플로', 'SQL'])

print(s1.union(s2))

In [ ]:
print(s1.intersection(s2))

In [ ]:
print(s1.difference(s2))

In [ ]:
# Set -> LIST

s1 = set(["파이썬", "SAS", "R", "SQL"])

s1_list = list(s1)

print(s1, type(s1))
print(s1_list,type(s1_list))

In [ ]:
s1_list_tuple = tuple(s1_list)
print(s1_list_tuple, type(s1_list_tuple))

In [ ]:
s1_list_tuple_set = set(s1_list_tuple)
print(s1_list_tuple_set, type(s1_list_tuple_set))

In [12]:
a = {'리스트' : ['순서 O','중복 O', '수정 O', '삭제 O' 'list(), []', 'ex1 = [1,2,3]'],
     '튜플' : ['순서 O', '중복 O', '수정 X', '삭제 X' '()', 'ex2 = (1,2,3)'],
     '딕셔너리' : ['순서 x', '(키)중복 x', '수정 O', '삭제 O' "dict([]), { : }}", "ex3 = {1 : ex]"],
     '세트' : ['순서 x', '중복 x', '수정 O', '삭제 O' "set(), {}", "ex4 = {1,2,3}"]}

print(a.items())

print(a['리스트'])
print(a['튜플'])
print(a['딕셔너리'])
print(a['세트'])

dict_items([('리스트', ['순서 O', '중복 O', '수정 O', '삭제 Olist(), []', 'ex1 = [1,2,3]']), ('튜플', ['순서 O', '중복 O', '수정 X', '삭제 X()', 'ex2 = (1,2,3)']), ('딕셔너리', ['순서 x', '(키)중복 x', '수정 O', '삭제 Odict([]), { : }}', 'ex3 = {1 : ex]']), ('세트', ['순서 x', '중복 x', '수정 O', '삭제 Oset(), {}', 'ex4 = {1,2,3}'])])
['순서 O', '중복 O', '수정 O', '삭제 Olist(), []', 'ex1 = [1,2,3]']
['순서 O', '중복 O', '수정 X', '삭제 X()', 'ex2 = (1,2,3)']
['순서 x', '(키)중복 x', '수정 O', '삭제 Odict([]), { : }}', 'ex3 = {1 : ex]']
['순서 x', '중복 x', '수정 O', '삭제 Oset(), {}', 'ex4 = {1,2,3}']