# 1. 주석

주석(Comment) - 가장 중요하면서도 가장 많이 잊어버리는 것. 만약에 코드가 100줄 이상되는것이 주어졌는데 아무런 설명이 없다면 개인적으로도 당황스럽고, 업무적으로도 다시 그 코드를 분석하기 위해 시간이 낭비될 수 있음 

주석은 보통 코드가 어떤 내용을 포함하고 있는지. 이 문장이 의미하는 것이 무엇인지? 왜 이렇게 썼는지? 주의할점은 없는지? 추가로 알아야할 내용이 있는지? 에 대한 이정표 역할을하게 됩니다.

주석은 프로그램을 사용하는데 아무런 영향을 끼치지는 않지만 사실 많은 줄의 코드보다 더 도움이 되는건 한 줄의 주석이 될 수 있기 대문에 앞으로도 주석은 잘 사용해야합니다.

In [ ]:
#1. 주석 복습

# 1.1.1 주석 실습 - 예제 1

# 행 단위 주석입니다.

In [ ]:
"""
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
"""
print("Hello world")

In [ ]:
'''
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
'''

# 파이썬 스타일 코드 대표 가이드라인

* 1. 들여쓰기는 공백 문자 네 개로 하자.
* 2. 한줄의 최대 글자는 79자로 한다.
* 3. 최상위 함수와 클래스 정의들은 두 줄씩 띄우자.
* 4. 파일은 UTF-8 또는 아스키(ASCII)로 인코딩하자.
* 5. 한 import 문에선 모듈 하나만 불러온다.
* 6. 소괄호나 중괄호, 대괄호 사이에 추가로 공백을 주지 말고, 쉼표 안에도 공백을 주지 말자,
* 7. 클래스 이름은 카멜케이스(CamelCase)를 따르자.
* 8. 예외명은 Error로 끝내자.
* 9. 함수 이름은 separated_by_underscores처럼 소문자와 밑줄 문자(_)를 이용해서 짓자.
* 10. 비공개인 속성이나 메서드 이름은 밑줄 문자로 시작하자(_private).

항상 이렇게 하라 라기 보다는 일종의 규약 가이드로써 향후 팀 프로젝트시 이러한 규칙들을 따른다면 오류를 줄이고, 가독성과 유지보수가 편해지기 때문에 한번 알아볼 것임

결국 사람의 시간을 가장 효율적으로 사용하기 위한 가이드라인

* 파이썬의 철학 : 인간의 시간이 컴퓨터 보다 중요하다.
* 결국 중요한건 일관성이다.

##1.1 블럭 주석

* 바로 뒤에 오는 코드를 설명하고
* 주석 내용이 다루는 코드와 동일한 들여쓰기 레벨에서 표기한다.
* 한개의 #을 달고 주석을 기록한다.

In [ ]:
# 예제 1.1
# 유저의 이름을 입력받고, 문자형이 아닌것을 주의하세요.
user_input = input("유저 이름을 입력하세요")
normalized_data = normalizednormalize_data(user_inputs)

##1.2 인라인 주석

* 코드와 같은 줄에 기록
* #을 붙인 후 내용 기록
* 코드와 적어도 두칸 이상 분리한다.

In [ ]:
# ex1.1.2

연봉_인센포함 = 초기연봉 * 1.02   # 초기연봉에 2% 상승된 것이 인센포함된 연봉(23.05.01) 변경시 수정 바람

##1.3 문서 형태 주석

* 모듈, 클래스, 함수, 메소드 등 정보를 제공하는 용도 docstring이라고 함
* 다른 주석과 달리 쌍따옴표나 따움표 3개로 구성
* 함수 바로 밑에 내용을 적는다.
* 여러줄로도 적을수 있다.

In [ ]:
#1.1.3 문서 주석 - 한줄 형태

def quicksort():
""" Quicksort를 사용하여 보다 빠르게 정렬하는 함수 """

#1.1.3 문서 주석 - 두줄 이상 형태

def salary_increase(salary, percentage, rating):
    """ 성과에 의한 연봉 변화 함수
    1 - 2등급 - 연봉 10% 상승
    3 - 4등급 - 연봉 5%  상승
    5 - 6등급 - 연봉 동결
    7 - 10등급 - 연봉 5% 삭감
    """

#2. 레이아웃

[임포트]
* import는 가장 위에 기록 한다.
* 한줄에 하나씩 쓰는것을 추천한다.

[들여쓰기]
* 들여쓰기는 4칸씩 띄어쓰기를 꼭 지킨다. - Tab을 활용해도 되지만 통일 필요 (수업때는 Tab)
* 함수의 줄 바꿈시에는 구분이 가능하도록 한다.

[탭과 스페이스]
* 탭보다는 스페이스를 사용하도록 노력하고, 섞어서 쓰지 말자

[글자 길이 / 줄 바꿈]
* 주석은 72자정도 / 최대 글자수는 79자 정도로 제한하는 것이 좋음

[빈줄 넣기]
* 일반적으로 클래스나 함수는 두줄로 분리해서 구분하기 좋게 한다.
* 그러나 클래스나 함수 안에 함수는 논리적으로 구분이 되는 부분에서 한줄을 띄워도 좋다.

[연산하는 경우]
* 연산을 많이 할 경우에는 옆으로 글을 이어나가는 것보다는 밑으로 추가한다.)

In [ ]:
# 2.1 import 예시

# 좋은 예
import os
import pandas as pd
import sklearn

# 안좋은 예시

import os, sys, pandas
from pandas import * # wildcard 사용은 소스의 모호함을 증가시켜 오류를 발생시킬수도 있음

In [ ]:
# 2.2 띄어쓰기 / # 2.3 탭과 스페이스

# 기본 띄어쓰기 - 둘다 실행은 된다.
for i in range(1, 10):
  print(i) # Tab

for i in range(1, 10):
    print(i) # 띄어쓰기 4칸 

# 파라미터가 여러가지 인 경우
# 좋은 예시
sample_def(var1, var2
          var3, var4) #일반적인 툴에서는 다음과 같이 enter를 사용하는 경우 띄어지게 된다.

# 안좋은 예시 - 가독성이 떨어진다.
sample_def(var1, var2
  var3, var4)

In [ ]:
# 2.6 연산하는 경우
# 좋은 예시
sum_variable = (val1
                + val2
                +_val3
                + val4
)

#3. 파이썬 스타일 작명

[상수]
* 이름이 길어지면 underbar(_)로 구분한다.
* 대문자로 작성

[패키지/모듈]
* 가급적 짧고 알기 쉽게 만든다.
* 패키지나 모듈 이름은 모두 소문자로만 작성한다.
* 모듈 이름이 만약 길어지면 underbar(_)로 구분한다.
* 패키지 이름에는 underbar사용 자제

[클래스]
* 클래스 이름은 CamelCase(단어 첫부분은 대문자)로 작성

[메소드] 
* 메소드 이름은 snake_tail방식으로 작성하고 단어별 underbar(_)로 구분한다.
* 인스턴스 메소드의 첫번째인자는 항상 self로 시작한다.
* 클래스 메소드의 첫번째 인자는 항상 cls로 시작한다.

In [ ]:
# 왠만하면 한글을 사랑해도 한글 변수명은 자제

# 3.1 상수/함수/변수

#[상수] 모두 대문자
PI = 3.14
LONG_CONSTANT_EXAMPLE = 12345678

#[함수/변수]
#snake case
my_age = 43

(good) def python_function_name(arg1, arg2):
(bad) def PythonFunctionName(arg1, arg2):

# 3.2 모듈 (snake case 허용)
# 패키지 이름
(good) import mypackage
(good) import modulename
(bad) import ModuleName
(bad) import module_name



# 3.3 클래스(Pascal case)
# Class 예
class MyClass:
    pass

# 3.4 메소드
class MyClass:
  '''인스턴스 메소드 메소드'''
  def instance_method(self, var1, var2):
    pass

  '''클래스 메소드'''
  def class_method(cls, var1, var2):
    pass

#4. 공백문자

* 할당을 할 경우에는 공백 하나만 사용
* 앞 뒤로 공백 한개씩만 사용하자
* 괄호와 콜론 앞/뒤로는 공백을 주지 말자

In [ ]:
# 4.1 할당

# Good

x = 1
y = 2
long_variable = 3

# Bad

x             = 1
y             = 2
long_variable = 3

# 4.2 앞 뒤로 공백 1개씩

# Good

i = i + 1
submitted += 1
x = x*2 - 1

# Bad 

i=i+1
submitted +=1
x = x * 2 - 1

# 4.3 괄호, 콜론 앞/뒤로는 공백을 주지 않습니다.

# Good
router(1)
router[1:3]
server['centOs']
Class MyClass:

# bad

router (1)
router[1: 3]
server ['centos']
Class MyRouter :

# 기본 입출력

* 변수 - X = 10이라는 코드가 있을때 10을 x로 할당한다고 한다. 변수에는 숫자, 문자등 다양한 자료형태가 들어갈수 있으며, 자료형태 확인은 type함수를 통해 확인할 수 있다.
* input - input()함수로 데이터를 입력하면 자료를 입력받는 함수 - 기본으로는 문자형을 입력받는다. 
* print - print()함수로 데이터를 출력하는 함수

In [ ]:
#01-1. 본인 이름 출력 하기 - Input 문자형(기본)

print(f'본인 이름을 입력 하세요')
my_name = input()
print(f"제 이름은 {my_name} 입니다.")

In [ ]:
#01-2. 두 숫자의 합 구하기 - Input 숫자형

print(f"두 숫자의 합을 구하기 입니다.")
sum_1 = int(input("첫번째 숫자를 입력하세요"))
sum_2 = int(input("두번째 숫자를 입력하세요"))
# input은 기본적으로 문자형을 받기 때문에 숫자형쓰고 싶으면 int, float
print(sum_1 + sum_2)

In [ ]:
#02-1. print 복습

# print('3. 제 이름은' ,이름 , '입니다.','제 나이는', 나이, '입니다.')
# print('3. 제 이름은 {}입니다. 제 나이는 {}입니다.'.format(이름, 나이))

name = "김진환"
age = 25
print(f"제 이름은 {name} 이고, 나이는 {age}입니다.")
print(f"제 이름은 {name} 이고 {age} 살입니다.", end="!!!\n")

In [ ]:
pip install openai

In [30]:
import os
import openai

In [ ]:
# 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
# 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
# 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

In [34]:
openai.api_key ="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" #아까 복사했던 api 주소를 " " 안에 넣습니다.
question = input("무엇을 물어볼까요?:")

completion = openai.ChatCompletion.create(
  model="gpt-3.5-turbo",
  messages=[
    {"role": "user", "content": question}
  ]
)

print(completion.choices[0].message.content)

무엇을 물어볼까요?:데이터 분석가는 무슨 일을 하니?
데이터 분석가는 조직 또는 기업이 보유한 데이터를 수집, 정제, 분석하여 의사결정에 도움을 주는 역할을 합니다. 이들은 데이터베이스, 빅데이터, 데이터 마이닝 등 다양한 기술과 도구를 사용하여 비즈니스 성과를 최적화하고, 예측 분석 및 통계 분석을 수행하여 인사, 재무, 마케팅, 고객 서비스 등 각 부서에서 필요한 정보를 제공합니다. 데이터 분석가는 데이터 시각화를 통해 효과적인 커뮤니케이션을 하며, 잠재적인 이익과 리스크를 파악하고 전략을 개발하는 데 도움이 됩니다.

In [21]:
def chat_gpt(message):
  openai.api_key ="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" #아까 복사했던 api 주소를 " " 안에 넣습니다.

  completion = openai.ChatCompletion.create(
    model="gpt-3.5-turbo",
    messages=[
      {"role": "user", "content": message}
    ]
  )

  print(completion.choices[0].message.content)

In [ ]:
chatgpt("chatgpt가 뭐야?")

In [ ]:
# 기본 입출력 복습 
# 실습 
#1. () -> 변수
#2. f-string으로 작성
#3. print()문으로 출력 

# 안녕하세요 저는 ()입니다. 나이는 ()입니다.
# 저의 MBTI는 ()입니다. 제 성격은 ()입니다.
# 저의 전공은 ()이고, 관심분야는 ()입니다.
# 제가 취업하고 싶은 기업은 ()이고, 원하는 연봉은 ()원입니다.
# 마지막으로 제가 하고 싶은 말은? ()입니다.

In [28]:
name = "황상엽"
age = 27
mbti = "ISTP"
major = "통계학"

print(f"안녕하세요 저는 {name}입니다. 나이는{age}입니다.")
print(f"저의 MBTI는 {mbti}입니다. 전공은{major}입니다.")

안녕하세요 저는 황상엽입니다. 나이는27입니다.
저의 MBTI는 ISTP입니다. 전공은통계학입니다.

# 기본 입출력 - 추가

In [ ]:
# 숫자를 문자열로 바꾸기

ex1 = 52
ex1_str = str(52)

print(f"ex1은 {ex1}입니다.")
print(f"ex1은 {ex1_str}입니다.")

print(type(ex1))
print(type(ex1_str))

In [ ]:
# 문자를 숫자로 바꾸기

ex2_str_int = int(ex1_str)

print(f"ex1_str은 {ex1_str}입니다.")
print(f"ex2_str_int은 {ex2_str_int}입니다.")

print(type(ex1_str))
print(type(ex2_str_int))

In [ ]:
# 문자열 자르기 : split()

a = "10 20 30 40 50".split(" ")
print(a)

In [ ]:
# 문자열과 In 연산자

print("멋쟁이" in "멋쟁이 사자처럼")
print("위니브" in "멋쟁이 사자처럼")

In [ ]:
# 문자열과 find함수
ex3 = "멋쟁이 사자처럼"
print(ex3.find("사자"))

In [17]:
# 공백 제거
# txt, csv -> python "멋쟁이 사자처럼" -> "  멋쟁이 사자처럼"

ex4 = "  안녕하세요 멋쟁이 사자처럼 입니다."
print(ex4)

  안녕하세요 멋쟁이 사자처럼 입니다.

In [18]:
#strip

print(ex4.strip())

안녕하세요 멋쟁이 사자처럼 입니다.

# Random 함수의 활용

데이터 분석시에 무작위 테스트를 하거나 샘플을 뽑고 싶을때 사용 -> 굉장히 많이 사용

In [36]:
# Random 함수 사용
import random

In [35]:
# 1. random 함수의 기본 사용

random.random()

NameError: ignored

In [ ]:
# 어디서 부터 어디까지의 숫자 뽑아줘 (실수)
random.uniform(1, 10)

In [ ]:
# 어디서 부터 어디까지의 숫자 뽑아줘 (정수)
random.randint(1, 10)

In [ ]:
# 짝수만 뽑아줘 / 홀수만 뽑아줘
# randrange

random.randrange(0, 101, 2) # 짝수

In [ ]:
random.randrange(1, 101, 2) # 홀수

In [ ]:
# 랜덤하게 하나의 원소를 선택합니다. Choice
random.choice('Hello')

In [ ]:
random.choice(['바나나','사과','오렌지'])

In [ ]:
# 랜덤하게 여러 원소를 출력합니다.
random.sample([1,2,3,4,5], 3)

In [ ]:
random.sample(range(1,5), 3)

In [40]:
# 실습 1. 로또번호 1~45번까지 6개 번호 추출해보기
random.sample(range(1,46),6)

[16, 5, 19, 29, 10, 37]

In [41]:
# shuffle 함수
items = [1,2,3,4,5]
random.shuffle(items)
print(items)

[1, 3, 5, 4, 2]

In [44]:
# 실습 1. 로또번호 1~45번까지 6개 번호 추출해보기
# seed 고정

random.seed(501)
lotto = random.sample(range(1,46), 6)
print(f"로또번호는 {lotto}입니다.")

로또번호는 [41, 19, 45, 23, 16, 21]입니다.

In [60]:
# 실습 2. 보드게임 주사위 2개 던지기 -> 난수 추첨
# 랜덤으로 1부터 6까지 숫자를 생성해서

random.seed(504)
die1 = random.randint(1,6)
die2 = random.randint(1,6)

sum_dice = die1 + die2

print(f"주사위의 합은 {sum_dice}입니다.")

주사위의 합은 9입니다.

In [62]:
# 실습 3. 오늘의 점심 메뉴

food = random.choice(['라면','김치찌개','삼겹살','볶음밥'])
print(f"오늘의 메뉴는 {food}입니다.")

오늘의 메뉴는 라면입니다.

In [68]:
# 실습 4. 가위바위보
# 컴퓨터가 낸거는 랜덤
# 내가 낸거는 input()

cpt = random.choice(['가위','바위','보'])
me = input(f"뭐? ")
print(f"컴퓨터는 {cpt}, 사람은 {me}입니다.")

# computer = ['가위','바위','보']   이렇게 해야 랜덤으로 계속 바뀜?
# computer_select = random.choice(computer)
# user = input('가위, 바위, 보 중 하나를 내세요')
# print(f"컴퓨터는 {computer_select}를 냈습니다.')
# print(f"컴퓨터는 {user}를 냈습니다.')

뭐? 1ㅗ
컴퓨터는 바위, 사람은 1ㅗ입니다.

# 시간 함수

In [69]:
# time 함수
import time

In [71]:
time.time()

1682908397.8365912

In [73]:
time.ctime()

'Mon May  1 02:33:45 2023'

In [74]:
time.localtime()

time.struct_time(tm_year=2023, tm_mon=5, tm_mday=1, tm_hour=2, tm_min=34, tm_sec=9, tm_wday=0, tm_yday=121, tm_isdst=0)

In [75]:
import datetime

In [76]:
datetime.datetime

datetime.datetime

In [77]:
from datetime import datetime

In [79]:
now = datetime.now()

In [ ]:
#현재 날짜
print(f"현재 날짜은 {now.date()}")

In [ ]:
#현재 날짜
print(f"현재 시간은 {now.time()}")

In [80]:
# 현재 연도
print(f"현재 연도는 {now.year}")

현재 연도는 2023

In [81]:
# 현재 월
print(f"현재 월은 {now.month}")
print(f"현재 일은 {now.day}")

현재 월은 5
현재 일은 1

In [82]:
import pytz

datetime.now(pytz.timezone('UTC'))

datetime.datetime(2023, 5, 1, 2, 42, 27, 962330, tzinfo=<UTC>)

In [83]:
datetime.now(pytz.timezone('Asia/Seoul'))

datetime.datetime(2023, 5, 1, 11, 43, 11, 461740, tzinfo=<DstTzInfo 'Asia/Seoul' KST+9:00:00 STD>)

In [87]:
from datetime import timedelta, timezone
datetime.now(timezone(timedelta(hours=9)))

datetime.datetime(2023, 5, 1, 11, 47, 11, 677264, tzinfo=datetime.timezone(datetime.timedelta(seconds=32400)))

In [88]:
from datetime import datetime
from datetime import timedelta, timezone


now = datetime.now(timezone(timedelta(hours=9)))

print("현재 : ", now)
print("현재 날짜 : ", now.date())
print("현재 시간 : ", now.time())
print("timestamp : ", now.timestamp())
print("년 : ", now.year)
print("월 : ", now.month)
print("일 : ", now.day)
print("시 : ", now.hour)
print("분 : ", now.minute)
print("초 : ", now.second)
print("마이크로초 : ", now.microsecond)
print("요일 : ", now.weekday())
print("문자열 변환 : ", now.strftime('%Y-%m-%d %H:%M:%S'))

# Output
# 현재 :  2021-12-22 15:46:26.695840
# 현재 날짜 :  2021-12-22
# 현재 시간 :  15:46:26.695840
# timestamp :  1640155586.69584
# 년 :  2021
# 월 :  12
# 일 :  22
# 시 :  15
# 분 :  46
# 초 :  26
# 마이크로초 :  695840
# 요일 :  2
# 문자열 변환 :  2021-12-22 15:46:26

현재 :  2023-05-01 11:47:21.243009+09:00
현재 날짜 :  2023-05-01
현재 시간 :  11:47:21.243009
timestamp :  1682909241.243009
년 :  2023
월 :  5
일 :  1
시 :  11
분 :  47
초 :  21
마이크로초 :  243009
요일 :  0
문자열 변환 :  2023-05-01 11:47:21

# 파이썬 멈추기

In [89]:
import time     # sleep 함수 사용

In [ ]:
# 1. 초 단위 테스트
print('-' * 30)
now = datetime.now(timezone(timedelta(hours=9)))
print(now.strftime('%H:%M:%S')) # 현재 시간 출력

time.sleep(5) # 5 초 딜레이

now = datetime.now(timezone(timedelta(hours=9)))
print(now.strftime('%H:%M:%S'))

time.sleep(10) # 10 초 딜레이

print(datetime.now().strftime('%H:%M:%S'))

# 파이썬 프로그램 시간 측정정

In [ ]:
from time import process_time
start = time.time() # 측정 시작
print("★ 구구단을 출력합니다.\n")
for x in range(2, 10):
    print("------- [" + str(x) + "단] -------")
    for y in range(1, 10):
        print(x, "X", y, "=", x*y)
print("---------------------")
end = time.time() 
print('프로그램을 수행하는데', end - start, '초가 걸렸습니다.')

In [ ]:
start = process_time()
print("★ 구구단을 출력합니다.\n")
for x in range(2, 10):
    print("------- [" + str(x) + "단] -------")
    for y in range(1, 10):
        print(x, "X", y, "=", x*y)
print("---------------------")
end = process_time()
print('프로그램을 수행하는데', end - start, '초가 걸렸습니다.')