## 행렬의 곱

- (*) 연산자: 행렬끼리의 곱을 할 수 있다. -> shape

In [ ]:
import numpy as np

In [ ]:
a = np.array(
    [[1, 2],
     [3, 4]])
b = np.array(
    [[1, 2],
     [3, 4]])

print(a * b) # dot or @

# https://seong6496.tistory.com/110

# DataFrame 데이터 프레임

- 2차원 배열

- 표, 테이블 형태

In [1]:
import pandas as pd

In [8]:
df = pd.DataFrame({
    '연차': [1, 2, 3],
    '연도': [2015, 2016, 2017],
    '매출': [10000, 20000, 30000]
})

print(df)
print(df)

   연차    연도     매출
0   1  2015  10000
1   2  2016  20000
2   3  2017  30000

RangeIndex(start=0, stop=3, step=1)

In [9]:
df.set_index('연도', inplace=True)  # set_index -> 특정 값을 인덱스로 지정

      연차     매출
연도
2015   1  10000
2016   2  20000
2017   3  30000

## DataFrame의 Column(컬럼, 열)

In [11]:
df.columns  # 어떤 값들이 있는지 확인 가능

Index(['연차', '매출'], dtype='object')

In [10]:
df['매출']

연도
2015    10000
2016    20000
2017    30000
Name: 매출, dtype: int64

## DataFrame의 Data(데이터)

데이터 조회

In [12]:
df.loc[2016]  # 행 데이터를 가져옴. 레이블(인덱스)로 불러야함
              # 2016의 값을 가져온다

연차        2
매출    20000
Name: 2016, dtype: int64

In [ ]:
# 2016, 2017년 레이블을 이용해서 값을 가져오기
df.loc[2016:2017]

In [ ]:
df.loc[2016, '매출']  # (원하는 레이블의, 원하는 열)

In [14]:
df.iloc[1]

연차        2
매출    20000
Name: 2016, dtype: int64

In [ ]:
# 2016, 2017 슬라이싱으로 iloc 이용하기
df.iloc[1:3]

## 데이터 불러오고 살펴보기

In [19]:
data = pd.read_csv('/content/sample_data/california_housing_test.csv')

In [ ]:
data.describe()

In [ ]:
data.head()  # 5개의 상위 데이터를 보여줌

In [ ]:
data.tail()  # 5개의 하위 데이터

In [23]:
data.index

RangeIndex(start=0, stop=3000, step=1)

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB

### 데이터 불러오고 할일

- read_csv(): 데이터를 불러옴
- head(): 상위 값 확인(위치)
- tail(): 하위 값 확인
- describe(): 기초 통계 내용
- index: 인덱스가 어떤걸로 되어 있는 지
- info(): col값, null값이 있는 지, 데이터 타입(컬럼 별)

## 데이터 기초 통계 직접 적용해보기
- 데이터 타입 변환: households, population,
housing_median_age, total_rooms, total_bedrooms, median_house_value
- 통계 함수 적용

In [37]:
# 각각의 값의 데이터 타입을 바꾸기  따로 저장해야됨
data_int = data.astype({'households':'int', 
           'population':'int',
           'housing_median_age':'int',
           'total_rooms':'int',
           'total_bedrooms':'int',
           'median_house_value':'int'})
data_int.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   int64
 3   total_rooms         3000 non-null   int64
 4   total_bedrooms      3000 non-null   int64
 5   population          3000 non-null   int64
 6   households          3000 non-null   int64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   int64
dtypes: float64(3), int64(6)
memory usage: 211.1 KB

In [31]:
total_rooms_mean = data['total_rooms'].mean()   # dataframe['column'].함수()
print(total_rooms_mean)

2599.58

In [32]:
total_rooms_median = data['total_rooms'].median()
print(total_rooms_median)

2106.0

In [33]:
total_rooms_std = data['total_rooms'].std()
print(total_rooms_std)

2155.593331625581

In [34]:
type(total_rooms_mean)

numpy.float64

In [ ]:
data['longitude'].unique()  # 값들 중 유일한 값을 찾아줌  -> 리턴값: numpy 배열

In [41]:
data['longitude'].value_counts()  # 속성값의 빈도수

-118.21    26
-118.26    26
-118.29    25
-118.28    25
-118.27    25
           ..
-120.33     1
-119.00     1
-119.08     1
-114.61     1
-119.86     1
Name: longitude, Length: 607, dtype: int64

In [42]:
data['longitude']  # type: 시리즈

0      -122.05
1      -118.30
2      -117.81
3      -118.36
4      -119.67
         ...
2995   -119.86
2996   -118.14
2997   -119.70
2998   -117.12
2999   -119.63
Name: longitude, Length: 3000, dtype: float64

### groupby
- 데이터를 그룹별로 분할

**단계**

- 1. split: 원본 데이터에서 분류하고자하는 데이터를 나눠준다.
- 2. apply: 분류된 데이터(그룹별)에 함수를 적용
- 3. combine: 함수 적용된 데이터를 다시 합쳐줌

In [ ]:
data_int.groupby('total_rooms').mean()  # total_rooms 를 기준으로 정렬?

In [53]:
df = pd.DataFrame({
    '연차': [1, 2, 3],
    '연도': [2015, 2016, 2017],
    '매출': [10000, 20000, 30000]
})

df

   연차    연도     매출
0   1  2015  10000
1   2  2016  20000
2   3  2017  30000

In [75]:
df.groupby('연도')['매출'].mean() # groupby  연도를 인덱스로 하여 연도별로 매출의 평균

연도
2015    25000.0
2016    20000.0
2017    30000.0
Name: 매출, dtype: float64

In [56]:
date_df = pd.DataFrame({'Data':[
    '2023-01-01 11:25:00',
    '2023-01-01 11:25:00',
    '2023-01-01 11:25:00',
    ]})

In [58]:
df['Date']=date_df
df

   연차    연도     매출                 Date
0   1  2015  10000  2023-01-01 11:25:00
1   2  2016  20000  2023-01-01 11:25:00
2   3  2017  30000  2023-01-01 11:25:00

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연차      3 non-null      int64
 1   연도      3 non-null      int64
 2   매출      3 non-null      int64
 3   Date    3 non-null      object
dtypes: int64(3), object(1)
memory usage: 224.0+ bytes

In [65]:
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d %H:%M:%S')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연차      3 non-null      int64
 1   연도      3 non-null      int64
 2   매출      3 non-null      int64
 3   Date    3 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(3)
memory usage: 224.0 bytes

In [71]:
df['Date'].dt.date  # 년, 월, 일
df['Date'].dt.year  # 년
df['Date'].dt.month  # 월
df['Date'].dt.day  # 일

0    2023-01-01
1    2023-01-01
2    2023-01-01
Name: Date, dtype: object

In [72]:
df['Date'].dt.time  # 시간
df['Date'].dt.hour  # 시
df['Date'].dt.minute # 분
df['Date'].dt.second  # 초

0    11:25:00
1    11:25:00
2    11:25:00
Name: Date, dtype: object

### Groupby

- 기준: 범주형 데이터(성별, 지역, 혈액형, 국적, 학년 등)
- 파악할 데이터: 수치형 데이터

In [77]:
data = pd.DataFrame({
    '도시': ['서울', '부산', '제주', '서울', '제주', '제주', '부산', '부산', '제주'],
    '연도': [2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023],
    '전입신고 수': [10040, 22300, 6000, 12400, 4000, 600, 11100, 45000, 31000],
    '세금': [1004000, 2230000, 600000, 1240000, 400000, 60000, 1110000, 4500000, 3100000]
})
data

   도시    연도  전입신고 수       세금
0  서울  2015   10040  1004000
1  부산  2016   22300  2230000
2  제주  2017    6000   600000
3  서울  2018   12400  1240000
4  제주  2019    4000   400000
5  제주  2020     600    60000
6  부산  2021   11100  1110000
7  부산  2022   45000  4500000
8  제주  2023   31000  3100000

In [80]:
data.groupby('도시')['전입신고 수'].sum()  # groupby -> 도시를 인덱스로 하고 전입신고 수의 합계를 구함

# data.groupby(행에 들어갈)[열에 들어갈].sum()  ?

도시
부산    78400
서울    22440
제주    41600
Name: 전입신고 수, dtype: int64

In [81]:
# 도시 별 전입신고 수의 평균
data.groupby('도시')['전입신고 수'].mean()  # 데이터프레임에 인덱싱을 한다 -> 시리즈 타입으로 출력?

도시
부산    26133.333333
서울    11220.000000
제주    10400.000000
Name: 전입신고 수, dtype: float64

In [82]:
# 도시와 연도를 기준으로? 평균 구하기
data.groupby(['도시', '연도']).mean()  # 인덱싱을 안한다 -> 데이터 프레임 타입으로 출력

          전입신고 수         세금
도시 연도
부산 2016  22300.0  2230000.0
   2021  11100.0  1110000.0
   2022  45000.0  4500000.0
서울 2015  10040.0  1004000.0
   2018  12400.0  1240000.0
제주 2017   6000.0   600000.0
   2019   4000.0   400000.0
   2020    600.0    60000.0
   2023  31000.0  3100000.0

In [88]:
# 도시와 연도 별 세금의 합계를 구해주세요.
data.groupby(['도시', '연도'])['세금'].sum()

# data.groupby(['도시', '연도']).sum()['세금'] 도 가능

도시  연도
부산  2016    2230000
    2021    1110000
    2022    4500000
서울  2015    1004000
    2018    1240000
제주  2017     600000
    2019     400000
    2020      60000
    2023    3100000
Name: 세금, dtype: int64

In [90]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   도시      9 non-null      object
 1   연도      9 non-null      int64
 2   전입신고 수  9 non-null      int64
 3   세금      9 non-null      int64
dtypes: int64(3), object(1)
memory usage: 416.0+ bytes

In [101]:
# 연도의 타입을 object에서 datetime 으로 바꾸기
data['연도'] = pd.to_datetime(data['연도'], format='%Y')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   도시      9 non-null      object
 1   연도      9 non-null      datetime64[ns]
 2   전입신고 수  9 non-null      int64
 3   세금      9 non-null      int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 416.0+ bytes

In [102]:
# 연도만 보이게 다시 만들기 (그러면 데이터 타입은 다시 int로 바뀜?)
data['연도'] = pd.to_datetime(data['연도'], format='%Y')
data['연도'] = data['연도'].dt.year

# data['연도'] = pd.to_datetime(data['연도'], format='%Y').dt.year 이렇게도 가능

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   도시      9 non-null      object
 1   연도      9 non-null      int64
 2   전입신고 수  9 non-null      int64
 3   세금      9 non-null      int64
dtypes: int64(3), object(1)
memory usage: 416.0+ bytes

### 데이터프레임 병합

In [111]:
data = pd.DataFrame({
    '도시': ['서울', '부산', '제주', '서울'],
    '연도': [2015, 2015, 2011, 2020],
    '전입신고 수': [10040, 22300, 6000, 12400],
    '세금': [1004000, 2230000, 600000, 1240000]}
)

data2 = pd.DataFrame({
    '도시': ['서울', '부산', '제주', '서울'],
    '연도': [2015, 2015, 2011, 2020],
    '전입신고 수': [10040, 22300, 6000, 12400],
    '세금': [1004000, 2230000, 600000, 1240000]},
    )

In [112]:
add_data = pd.concat([data, data2], ignore_index=True, axis=1) # ignore_index = True -> index 재배열
                                                               # axis=1 열방향으로 붙임
add_data

    0     1      2        3   4     5      6        7
0  서울  2015  10040  1004000  서울  2015  10040  1004000
1  부산  2015  22300  2230000  부산  2015  22300  2230000
2  제주  2011   6000   600000  제주  2011   6000   600000
3  서울  2020  12400  1240000  서울  2020  12400  1240000

In [113]:
df1 = pd.DataFrame([['A0', 'A1', 'A2', 'A3'],
                     ['B0', 'B1', 'B2', 'B3'],
                     ['C0', 'C1', 'C2', 'C3'],
                     ['D0', 'D1', 'D2', 'D3']], columns=list('ABCD'))
 
df2 = pd.DataFrame([['A4', 'A5', 'A6', 'A7'],
                     ['B4', 'B5', 'B6', 'B7'],
                     ['C4', 'C5', 'C6', 'C7'],
                     ['D4', 'D5', 'D6', 'D7']], columns=['A', 'B', 'C', 'D'], index=[4, 5, 6, 7])

df3 = pd.DataFrame([['A8', 'A9', 'A10', 'A11'],
                     ['B8', 'B9', 'B10', 'B11'],
                     ['C8', 'C9', 'C10', 'C11'],
                     ['D8', 'D9', 'D10', 'D11']], columns=list('ABCD'), index=[8, 9, 10, 11])

In [121]:
pd.concat([df1, df2, df3], axis=1)

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   A1   A2   A3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    B0   B1   B2   B3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    C0   C1   C2   C3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    D0   D1   D2   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   A5   A6   A7  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   B4   B5   B6   B7  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   C4   C5   C6   C7  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   D4   D5   D6   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   A9  A10  A11
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   B8   B9  B10  B11
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   C8   C9  C10  C11
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   D8   D9  D10  D11

In [124]:
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                  'F': ['F2', 'F3', 'F6', 'F7']}, index=[2, 3, 6, 7])
df4

    B   D   F
2  B2  D2  F2
3  B3  D3  F3
6  B6  D6  F6
7  B7  D7  F7

### Join option

In [123]:
pd.concat([df1, df4], axis=1, join='outer')  # join의 default는 outer(합집합)

# 겹치는값이 없어서 index 기준으로 합침?

     A    B    C    D    B    D    F
0   A0   A1   A2   A3  NaN  NaN  NaN
1   B0   B1   B2   B3  NaN  NaN  NaN
2   C0   C1   C2   C3   B2   D2   F2
3   D0   D1   D2   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

In [126]:
pd.concat([df1, df4], axis=1, join='inner')  # inner(교집합)

    A   B   C   D   B   D   F
2  C0  C1  C2  C3  B2  D2  F2
3  D0  D1  D2  D3  B3  D3  F3

In [131]:
pd.concat([df1, df4], axis=1).reindex(df1.index)  # left join

    A   B   C   D    B    D    F
0  A0  A1  A2  A3  NaN  NaN  NaN
1  B0  B1  B2  B3  NaN  NaN  NaN
2  C0  C1  C2  C3   B2   D2   F2
3  D0  D1  D2  D3   B3   D3   F3

In [134]:
pd.concat([df1, df4], axis=1).reindex(df4.index)  # right join

     A    B    C    D   B   D   F
2   C0   C1   C2   C3  B2  D2  F2
3   D0   D1   D2   D3  B3  D3  F3
6  NaN  NaN  NaN  NaN  B6  D6  F6
7  NaN  NaN  NaN  NaN  B7  D7  F7

In [135]:
left = pd.DataFrame({'key': ['K0', 'K4', 'K2', 'K3'],
                  'A': ['A0', 'A4', 'A2', 'A3'],
            'B': ['B0', 'B4', 'B2', 'B3']})

right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                  'C': ['C0', 'C1', 'C2', 'C3'],
                  'D': ['D0', 'D1', 'D2', 'D3']})

In [136]:
print(left)
print(right)

  key   A   B
0  K0  A0  B0
1  K4  A4  B4
2  K2  A2  B2
3  K3  A3  B3
  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [140]:
# merge는 기준을 가지고 합친다면 concat은 그냥 붙인다?
# concat은 다수의 데이터셋을 한 번에 병합 가능하나, merge는 2개의 병합만 가능?

mi = pd.merge(left,right)  # merge -> inner가 default
print(mi)

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K2  A2  B2  C2  D2
2  K3  A3  B3  C3  D3

In [138]:
mo = pd.merge(left,right, how='outer')  # merge -> inner가 default
print(mo)

  key    A    B    C    D
0  K0   A0   B0   C0   D0
1  K4   A4   B4  NaN  NaN
2  K2   A2   B2   C2   D2
3  K3   A3   B3   C3   D3
4  K1  NaN  NaN   C1   D1

In [ ]:
m_key = pd.merge(left,right, on='key')  # on='key' key를 기준으로 합침
print(m_key)

In [139]:
m_l = pd.merge(left, right, on='key', how='left')
print(m_l)

m_r = pd.merge(left, right, on='key', how='right')
print(m_r)

  key   A   B    C    D
0  K0  A0  B0   C0   D0
1  K4  A4  B4  NaN  NaN
2  K2  A2  B2   C2   D2
3  K3  A3  B3   C3   D3
  key    A    B   C   D
0  K0   A0   B0  C0  D0
1  K1  NaN  NaN  C1  D1
2  K2   A2   B2  C2  D2
3  K3   A3   B3  C3  D3